* {
  box-sizing: border-box;
  background-color:#FFF;
}

.allWriten{
	margin-left:8%;
	margin-right:8%;
	background-color:#FFF;
	border-width:thin thick;
	border-color:#FFF #FBF677 #FFF #FBF677;
}

.title{
	margin-left:0%;
	margin-right:0%;
	margin-top:2%;
	background-color:inherit;
}

#shine{
	font-size:36px;
	font-family:"Times New Roman",Georgia,Serif;
	color:#A82F1F;
	//background-color:#F7B342;
}

.content{
	margin-left:0%;
	margin-right:0%;
	background-color:#FFF;
}

hr{
	color:#EF5E30;
	background-color:#EF5E30;
	border-color:#EF5E30 #EF5E30 #EF5E30 #EF5E30;
}

a{
	text-decoration:none;
	font-size:24px;
	color:#E4D96F;
}

a:hover{
	background-color:#EF6330;
}

#marp2{
	margin-left:2%;
}